
WindowsFormsApp1/.vs/MyApps/v16/.suo
WindowsFormsApp1/ClassLibrary/obj/Debug/Interoperability.csprojAssemblyReference.cache
*.cache
*.cache
*.cache
*.cache
*.cache
WindowsFormsApp1/WinCC Timer/bin/Debug/03D4A100
